/* Page header tweaks */
.page-header {
  background-image: url('/images/logo_small.png');
  background-repeat: no-repeat;
  background-position: right center;
}

/* This prevents <code> tags from overlapping with lines of text above and below */
code {
 color: #022;
 color: #252;
 padding: 1px;
 padding-top: 0px;
}

pre code {
 color: #252;
 padding: 1px;
 padding-top: 0px;
}
