/* Page header tweaks */
.page-header {
  background-image: url('/images/logo_small.png');
  background-repeat: no-repeat;
  background-position: right center;
}

/* Menu tweaks */
ul.nav li.dropdown:hover ul.dropdown-menu{
  display: block;
}

.navbar .dropdown-menu{
  margin-top:0px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
